.main-heading__about {
	height: 50px;
	margin-top: 20px;
	display: flex;
	align-self: flex-start;
}

.main-heading__about .character {
	margin-left: 37px;
}

.main-heading__about .character:first-child {
	margin-left: 0px;
}

.main-heading__about .character:nth-child(2) {
	margin-left: 40px;
}

.wall {
	background-color: #0827f5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 245px;
}

.wall__bot-div {
	align-self: flex-end;
}

.wall__dev-pic {
	position: relative;
	/* top: 85px;
	right: 20px; */
	align-self: flex-end;
}
