.name-title {
	display: flex;
	flex-direction: column;
	height: 340px;
	width: inherit;
	margin: 8px;
}

.name-title__dev-name,
.name-title__dev-surname,
.name-title__job-title {
	height: 100%;
	display: flex;
}

.name-title__dev-name {
	margin-top: 20px;
	align-self: flex-start;
}

.name-title__dev-name,
.name-title__dev-surname {
	height: 50px;
}

.name-title__job-title {
	position: relative;
	height: 30px;
	margin-top: 15px;
}

.character {
	position: relative;
	height: 50px;
}

.character:first-child {
	margin-left: 0;
}

.character--solid {
	z-index: 1;
	position: absolute;
	height: 100%;
	path {
		fill: white;
	}
}

.character--outline {
	position: absolute;
	height: 100%;
	top: 3px;
	left: 6px;
	outline-style: none;
	path {
		fill: transparent;
		stroke: #ff0000;
		stroke-width: 30;
	}
}

.name-title__dev-name .character,
.name-title__dev-surname .character {
	margin-left: 37px;
}

.name-title__dev-name .character:first-child,
.name-title__dev-surname .character:first-child {
	margin-left: 0;
}

.name-title__job-title .character {
	height: 25px;
	margin-left: 18px;
}

.name-title__job-title .character:first-child {
	margin-left: 0;
}

.name-title__job-title .character:nth-child(2) {
	margin-left: 27px;
}

.name-title__job-title .character:nth-child(5) {
	margin-left: 7px;
}

.name-title__job-title .character:nth-child(8) {
	margin-left: 21px;
}

.name-title__job-title .character:nth-child(10) {
	margin-left: 16px;
}

.name-title__job-title .character:nth-child(11) {
	margin-left: 20px;
}

.name-title__job-title .character--solid {
	z-index: 0;
	top: 2px;
	left: 3px;
}

.name-title__job-title .character--outline {
	z-index: 1;
	top: 0;
	left: 0;
	path {
		fill: var(--background);
		stroke-width: 50;
	}
}
