.devApproach {
  display: flex;
  flex-direction: column;
  height: 100vh;

  p {
    align-self: center;
  }
}

#profileImageContainer {
  display: flex;
  justify-content: center;
}

#profileImageContainer .circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#ceeHomeProfilePicture {
  overflow: clip;
}