.nt-nameTitle,
.nt-nameTitle-name,
.nt-nameTitle-surname,
.u-linksWrapper,
.nt-mailLink,
.nt-marqueeOut--bot,
.nt-marqueeOut--top .letterSvgElement {
	transition: 0.5s;
}

.nt-nameTitle {
	height: 500px;
	width: 90vw;
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: var(--background);
}

.nt-nameTitle-name,
.nt-nameTitle-surname,
.letterSvgElement {
	height: 500px;
}

.nt-nameTitle-name,
.nt-nameTitle-surname {
	position: relative;
	display: flex;
	justify-content: center;
	align-self: center;
	overflow: hidden;
}

.letterSvgElement {
	width: 52.5px;
	background-color: transparent;
	mix-blend-mode: difference;
}

.letterSvgElement path {
	fill: var(--foreground);
	text-shadow: white 20px -20px -20px;
}

#surname4 {
	transform: scale(1, -1);
}

.nt-marquee,
.nt-marqueeOut--top,
.nt-marqueeOut--bot {
	z-index: 1;
	position: absolute;
	font-size: 100px;
	background-color: transparent;
	color: var(--background);
	opacity: 0.65;
}

.nt-marquee {
	display: flex;
	top: 36%;
}

.nt-marquee--hidden {
	display: none;
}

.u-marqueeOutWrapper {
	display: flex;
	align-self: center;
	justify-content: center;
}

.u-linksWrapper {
	margin-top: 5px;
	height: 50px;
	display: flex;
	align-self: center;
	justify-content: space-around;
}

.nt-mailLink {
	height: 50px;
	width: 50px;
	color: white;
}

@media screen and (min-width: 768px) {
	.nt-nameTitle,
	.nt-nameTitle-name,
	.nt-nameTitle-surname,
	.letterSvgElement {
		height: 400px;
	}

	.nt-nameTitle {
		flex-direction: row;
		justify-content: center;
	}

	.nt-nameTitle-name,
	.nt-nameTitle-surname {
		position: static;
	}

	.letterSvgElement {
		width: 84px;
	}
	.nt-marqueeOut--top {
		top: 33%;
	}
	.nt-marqueeOut--bot {
		top: 51%;
	}
	.u-linksWrapper {
		justify-content: center;
		height: 70px;
	}

	.nt-mailLink {
		height: 70px;
		width: 70px;
	}
}

@media screen and (min-width: 1024px) {
	.nt-nameTitle,
	.nt-nameTitle-name,
	.nt-nameTitle-surname,
	.letterSvgElement {
		height: 500px;
	}

	.letterSvgElement {
		width: 105px;
	}
	.nt-marqueeOut--top {
		top: 29%;
	}
	.nt-marqueeOut--bot {
		top: 53%;
	}
}

@media screen and (min-width: 1280px) {
	.nt-nameTitle,
	.nt-nameTitle-name,
	.nt-nameTitle-surname,
	.letterSvgElement {
		height: 600px;
	}

	.letterSvgElement {
		width: 126px;
	}
	.nt-marqueeOut--top {
		top: 26%;
	}
	.nt-marqueeOut--bot {
		top: 56%;
	}
}

@media screen and (min-width: 1536px) {
	.nt-nameTitle,
	.nt-nameTitle-name,
	.nt-nameTitle-surname,
	.letterSvgElement {
		height: 700px;
	}

	.letterSvgElement {
		width: 147px;
	}
	.nt-marqueeOut--top {
		top: 24%;
	}
	.nt-marqueeOut--bot {
		top: 61%;
	}
}
