.nt-nameTitle {
    position: absolute;
    display: flex;
    justify-content: center;
}

.nt-nameTitle-name {
    display: flex;
    margin: 10px;
}

.nt-nameTitle-surname {
    display: flex;
    margin: 10px;
}

.nt-nameTitle-marquee {
    position: absolute;
    top: 25%;
    background-color: transparent;
    font-size: 100px;
}

.svg {
    z-index: 1;    
    background-color: black;
    color: white;
    mix-blend-mode: difference;
}

.svg path {
    /* fill: transparent; */
}