.nt-nameTitle {
    height: 700px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: var(--background);
}

.nt-nameTitle-name {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 350px;
    position: absolute;
    overflow: hidden;
}

.nt-nameTitle-surname {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 350px;
    position: absolute;
    top: 350px;
    overflow: hidden;
}

.nt-nameTitle-marquee {
    z-index: 1;
    position: absolute;
    top: 28%;
    font-size: 100px;
    background-color: transparent;
    color: var(--background);
    opacity: 0.6;
}

.svg {
    background-color: transparent;
    mix-blend-mode: difference;
}

/* @media screen and (min-width: 600px) {
    .nt-nameTitle {
        flex-direction: row;
    }

    .nt-nameTitle-name {
        position: static;
        align-self: baseline;
        height: 100vh;
    }

    .nt-nameTitle-surname {
        position: static;
        height: 100vh;
        align-self: baseline;
    }
} */