.name-title {
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 90vw;
}

.name-title__dev-name,
.name-title__dev-surname,
.name-title__job-title {
	height: 100%;
	display: flex;
}

.character {
	position: relative;
	height: 100%;
}

.character:first-child {
	margin-left: 0;
}

.character__solid-letter {
	z-index: 1;
	position: absolute;
	height: 100%;
	path {
		fill: white;
	}
}

.character__outline-letter {
	position: absolute;
	height: 100%;
	top: 5px;
	left: 10px;
	outline-style: none;
	path {
		fill: transparent;
		stroke: red;
		stroke-width: 30;
	}
}

.name-title__dev-name .character,
.name-title__dev-surname .character {
	margin-left: 58px;
}

.name-title__dev-name .character:first-child,
.name-title__dev-surname .character:first-child {
	margin-left: 0;
}

.name-title__job-title {
	position: relative;
	height: 70px;
}

.name-title__job-title .character {
	margin-left: 20px;
}

.name-title__job-title .character:first-child {
	margin-left: 0;
}

.name-title__job-title .character:nth-child(2) {
	margin-left: 32px;
}

.name-title__job-title .character:nth-child(5) {
	margin-left: 8px;
}

.name-title__job-title .character__solid-letter {
	z-index: 0;
	top: 3px;
	left: 5px;
}

.name-title__job-title .character__outline-letter {
	z-index: 1;
	top: 0;
	left: 0;
	path {
		fill: var(--background);
	}
}
