.nt-nameTitle {
    height: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.nt-nameTitle-name {
    display: flex;
    justify-content: center;
    height: 40vh;
    position: absolute;
    align-self: center;
    overflow: hidden;
}

.nt-nameTitle-surname {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 40vh;
    position: absolute;
    top: 324.8;
    overflow: hidden;
}

.nt-nameTitle-marquee {
    z-index: 1;
    position: absolute;
    top: 28%;
    font-size: 100px;
    background-color: transparent;
    color: var(--background);
    opacity: 0.6;
}

.svg {
    background-color: transparent;
    mix-blend-mode: difference;
}