.nt-nameTitle{
    margin: 10px;
    height: 700px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: var(--background);
    overflow: hidden;
}

.nt-nameTitle-name {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 350px;
    position: absolute;
    overflow: hidden;
}

.nt-nameTitle-surname {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 350px;
    position: absolute;
    top: 350px;
    overflow: hidden;
}

#surname4 {
    transform: scale(1, -1);
}

.nt-marquee {
    z-index: 1;
    position: absolute;
    display: flex;
    top: 28%;
    font-size: 100px;
    background-color: transparent;
    color: var(--background);
    opacity: 0.6;
}

.nt-marqueeOut {
    z-index: 1;
    position: absolute;
    font-size: 100px;
    background-color: transparent;
    color: var(--background);
    opacity: 0.6;
}

.nt-marquee--hidden {
    display: none;
}

.letterSvgElement {
    background-color: transparent;
    mix-blend-mode: difference;
}

.u-marqueeOutWrapper {
    display: flex;
    align-self: center;
    justify-content: center;
}

@media screen and (min-width: 640px) {
    .nt-nameTitle {
        flex-direction: row;
        justify-content: center;
    }

    .nt-nameTitle-name {
        height: min(55vw, 100%);
    }

    .nt-nameTitle-surname {
        height: min(55vw, 100%);
        top: auto;
    }
}