
nav.navContainer {
  background-color: #3fc1c9;
  padding: 3px 5px 3px 5px;
  display: flex;
  justify-content: space-between;
}

.navLinksContainer .navLink {
  margin: 0 5px 0 5px;
}

.welcomeContainer {
  display: flex;
  align-items: center;
  margin: 0 40px;
  height: 100vh;

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }
}

.bio {
  align-self: center;
}

.devApproach {
  display: flex;
  flex-direction: column;
  height: 100vh;

  p {
    align-self: center;
  }
}

#profileImageContainer {
  display: flex;
  justify-content: center;
}

#profileImageContainer .circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#ceeHomeProfilePicture {
  overflow: clip;
}