:root {
	--background: #181a1b;
	--foreground: #ededed;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #181A1B;
    --foreground: #ededed;
  }
} */

body {
	height: 95vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #ededed;
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

.window {
	display: flex;
	flex-direction: column;
	align-self: center;
	border: solid red;
	border-radius: 15px;
	margin: 25px;
	height: 80vh;
	width: 303px;
}

.main-heading {
	display: flex;
	flex-direction: column;
	width: inherit;
	margin: 8px 8px 8px 20px;
}

.character {
	position: relative;
	height: 50px;
}

.character:first-child {
	margin-left: 0;
}

.character--solid {
	z-index: 1;
	position: absolute;
	height: 100%;
	path {
		fill: white;
	}
}

.character--outline {
	position: absolute;
	height: 100%;
	top: 3px;
	left: 6px;
	outline-style: none;
	path {
		fill: transparent;
		stroke: #ff0000;
		stroke-width: 30;
	}
}

@media screen and (min-width: 768px) {
	.window {
		width: 80vw;
		align-self: center;
	}

	.main-heading {
		flex-direction: row;
	}

	.character {
		height: 70px;
	}
}
