:root {
	--background: #181a1b;
	--foreground: #ededed;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #181A1B;
    --foreground: #ededed;
  }
} */

body {
	height: 95vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #ededed;
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

.main-title {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: solid red;
	border-radius: 15px;
	margin: 25px;
	height: 80vh;
}

.intro {
	display: flex;
}
