/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181A1B;
    --foreground: #ededed;
  }
} */

body {
  height: 95vh;
  display: flex;
  color: #ededed;
  background: #181A1B;
  font-family: Arial, Helvetica, sans-serif;
}