@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

nav.navContainer {
  background-color: blue;
  padding: 3px 5px 3px 5px;
  display: flex;
  justify-content: space-between;
}

.navLinksContainer .navLink {
  margin: 0 5px 0 5px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#profileImageContainer {
  display: flex;
  justify-content: center;
}

#profileImageContainer .circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#ceeHomeProfilePicture {
  overflow: clip;
}

#blueCircle {
  background-color: aqua;
}

footer {
  background-color: blue;
  padding: 3px 5px 3px 5px;
  display: flex;
  justify-content: start;
}

footer img {
  margin: 0 5px 0 5px;
}